numpy
pandas
openpyxl
pyarrow
fastparquet
sqlalchemy
pymysql

matplotlib
seaborn
plotly
folium
wordcloud
geopandas

selenium
webdriver-manager
beautifulsoup4
requests
lxml

jupyter
notebook
streamlit
tqdm

scipy
scikit-learn
statsmodels
mlxtend